@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    font-family: 'Poppins', sans-serif;
}

.frontpage-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    margin: 0;
    flex: 1;
}


.frontpage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    padding-top: 1rem;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signup-button {
    padding: 0.4rem 1rem;
    margin: 0.6rem;
    color: white;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 1.5rem;
    border: 2px solid black;
    background-color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.signup-button:hover {
    border-color: white;
    background-color: white;
    color: black;
}

.login-button {
    padding: 0.4rem 1rem;
    color: white;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 1.5rem;
    border-width: 0;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-button:hover {
    background-color: white;
    color: black;
}

.frontpage-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;    /* Center horizontally */
    text-align: center;
    flex: 1; /* This makes it take up all available space */
    padding: 2rem;
}

.frontpage-header h1 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.frontpage-content h2 {
    margin: 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    padding: 0;
}

.frontpage-content h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #b0b0b0;
    padding: 0;
}

